.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* Styling for the Navigation Bar */
nav {
  background-color: black;
  padding: 10px; 
  color: rgb(255, 255, 255);
  display: flex;
  justify-content: space-between;
  align-items: center;

}

button {
  background: linear-gradient(to bottom right, #4CAF50, #2196F3);
  padding: 10px 10px;
  border: 1px solid rgb(81, 81, 81);
  border-radius:10px;
  color: white;
  font-size: 16px;
}

button:hover {
  background: linear-gradient(90deg, #4CAF50, #2196F3); 
}

.navbar-button {
  background: linear-gradient(to bottom right, #4CAF50, #2196F3);
  padding: 10px 10px;
  border: 1px solid rgb(81, 81, 81);
  border-radius:10px;
  color: white;
  font-size: 14px;
  height: 41px;
  text-align: center;
}

.navbar-button:hover {
  background: linear-gradient(90deg, #4CAF50, #2196F3); 
}

nav h1 {
  padding: 5px 5px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  margin-top: 0;
  padding: 0;
  display: flex;
}

nav li {
  display: inline;
  margin-right: 15px;
}

a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-weight: bold;
}

a:hover {
  color: #4CAF50;
  text-decoration: none;
}

.dropdown-menu{
  background-color: black;
  
}

.dropdown-menu .dropdown-item{
  color: white;
}
.dropdown-menu .dropdown-item:hover {
  background-color: rgba(133, 247, 137, 0.892);
  color: black;
}

/*end navbar styling*/

/*generic container for the background*/

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content-container {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: fit-content;
  flex-wrap: wrap;
  background: linear-gradient(to bottom right, #4CAF50, #2196F3);
}

/*container for the home page
note: this needs to be kept in place for the carousel to work
the following code is for the home page and the carousel*/
.home-page {
  display: flex;
  height: 110vh;
  flex-wrap: wrap;
  background: linear-gradient(to bottom right, #4CAF50, #2196F3);
}

.left-section {
  flex: 1;
  text-align: center;
  justify-content: center;
  padding: 50px;
}

.right-section {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  padding: 50px;
}

.right-section img {
  max-width: 800px;
  max-height: 600px;
}

.carousel-caption {
  background-color: rgba(0, 0, 0, 0.5);
  color: white; 
  padding: 10px; 
  border-radius: 5px;
}

.carousel-control-next, .carousel-control-prev { 
  bottom: 26rem;
 }

.home-card{
  width: 500px;
  height: 350px;
  padding: 20px;
  margin: 10px;
  border: 1px solid rgb(81, 81, 81);
  border-radius: 8px;
  box-shadow: 0 25px 40px rgba(0, 0, 0, 0.1);
  background: rgba(0, 0, 0, 0.9);
  color: white;
  max-height: 475px;
  overflow: auto;
  
}

.home-card:hover{
  box-shadow: 0 30px 66px rgba(0, 0, 0, 0.2);

}
/*end homepage styling*/

/*Styling for the generic card*/
.card {
  width: 600px;
  padding: 20px;
  margin: 10px;
  border: 1px solid rgb(81, 81, 81);
  border-radius: 8px;
  box-shadow: 0 25px 40px rgba(0, 0, 0, 0.1);
  background: rgba(0, 0, 0, 0.9);
  color: white;
  min-height: 500px;
  max-height: 10000px;
  overflow: auto; 
  display: flex;
  justify-items: center;
}

.card h2 {
  text-align: center;
}

.button-container{
  display: flex;
  justify-content: space-around; 
  flex-wrap: wrap;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 32px;
}
/*Styling for the budget form*/
 .budget-card {
  width: 75%;
  padding: 20px;
  margin: 10px;
  border: 1px solid rgb(81, 81, 81);
  border-radius: 8px;
  box-shadow: 0 25px 40px rgba(0, 0, 0, 0.1);
  background: rgba(0, 0, 0, 0.9);
  color: white;
  min-height: 500px;
  max-height: 10000px;
  overflow: auto; 
}

.budget-card h2 {
  text-align: center;
}

.add-button {
  background: linear-gradient(to bottom right, #4CAF50, #2196F3);
  color: white; 
  border: none;
  border-radius: 5px;
  padding: 5px 10px; 
  cursor: pointer;
}

.add-button:hover {
  background: linear-gradient(90deg, #4CAF50, #2196F3); 
}

.remove-button {
  background: linear-gradient(to bottom right, #ff7878, #ff4d4d);
  color: white; 
  border: none; 
  border-radius: 5px; 
  padding: 5px 10px;
  cursor: pointer;  
}

.remove-button:hover {
  background: linear-gradient(90deg, #ff4d4d, #ff0000); 
}

label {
  display: flex; 
  flex-direction: column;
  margin-bottom: 10px; 
  margin-right: 15px;
}

.budget-form {
  padding: 5px;
  text-align: left;
}
.input-field {
  width: 75%;
  padding: 5px;
  border-radius: 5px;
  margin-bottom: 15px;
  background-color: transparent;
  color: white; 
  border: 1px solid white;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

::-webkit-calendar-picker-indicator {
  filter: invert(1)
          brightness(50%)
          sepia(100%)
          saturate(10000%)
          hue-rotate(180deg)
}

.subcategories-list{
  list-style-type: none;
  padding-bottom: 15px;
}

.subcategory-container {
  display: flex;
  align-items: center;
  padding: 10px;
}

.subcategories-list li {
  margin-bottom: 10px;
}

.subcategory-items {
  width: 100%;
}

.item {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  align-content: left;
}

.checkbox-field {
  display: flex;
  flex-direction: column;
}

.item h6 {
  margin: 0;
}

.item button {
  width: fit-content;
}
.recurring-container {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.recurring-container h6 {
  margin-right: 10px;
}

.checkbox-field {
  margin-top: 0;
}

.totals-container {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.total-field {
  display: flex;
}

.total-field div {
  flex: 1; 
  margin-right: 10px;
}

.total-field label h6 {
  margin: 0;
}

.input-field-line {
  border: none;
  border-bottom: 1px solid white; 
  background: none;
  padding: 5px;
  width: 75%; 
  box-sizing: border-box; 
  outline: none;
  color: white;
}

.input-field-line:focus {
  border-bottom: 2px solid green;
}

.input-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

/*footer styling*/
footer{
  background-color:black;
  padding: 10px;
  color: rgb(255, 255, 255);
  text-align: center;
}